:root {
    --color-blue: #1DA1F2;
    --color-blue-light-dark: #1a89ce;
    --color-light-blue: #59b6f0;
    --color-extra-light-blue: #8ec9ee;
    --color-light-blue-hover: rgba(99, 185, 238, 0.2);
    --color-black: #14171A;
    --color-dark-grey: #657786;
    --color-light-grey: #AAB8C2;
    --color-extra-light-grey: #E1E8ED;
    --color-extra-extra-light-grey: #F5F8FA;
    --color-text-black: #0f1419;
    --color-text-grey: #536471;
    --color-heart: #e0245e;
    --color-heart-hover: #f8286a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* touch-action: none; */
}

.App {
    max-width: 100vw;
    overflow-y: clip;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Archivo', sans-serif; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* Auth Css */

@import url('./styles/auth.css');
/* Button */

@import url('./styles/button.css');
/* Notify */

@import url('./styles/notify.css');
/* Main */

@import url('./styles/main.css');
/* Header */

@import url('./styles/header.css');
/* Search */

@import url('./styles/search.css');
/* Infor */

@import url('./styles/infor.css');
/* Watch Img */

@import url('./styles/watchimg.css');
/* Edit Profile */

@import url('./styles/editprofile.css');
/* Modal  */

@import url('./styles/modal.css');
/* Edit Media */

@import url('./styles/editmedia.css');
/* Followers */

@import url('./styles/followers.css');
/* Status */

@import url('./styles/status.css');
/* Home */

@import url('./styles/home.css');
/* Post Card */

@import url('./styles/post_card.css');
/* Comment */

@import url('./styles/comment.css');
/* Post Thumb */

@import url('./styles/post_thumb.css');
/* Detail Post */

@import url('./styles/detail_post.css');
/* Discover */

@import url('./styles/discover.css');
/* Suggestion */

@import url('./styles/suggesttion.css');
/* Notification */

@import url('./styles/notification.css');
/* Notification */

@import url('./styles/message.css');
/** Reponsive */

@import url('./styles/reponsive.css');