.comment__display {
    /* padding: 10px; */
}

.comment__card {
    margin: 0 10px;
    display: flex;
    padding: 5px;
    background: #f0f2f5;
    border-radius: 15px;
    padding-right: 10px;
    align-items: flex-start;
}

.comment__card-avatar {
    margin-right: 5px;
}

.comment__card-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #f1f1ff;
}

.comment__card-body {
    width: 100%;
}

.comment__card-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment__card-infor {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.comment__card-box a {
    font-size: 1.4rem;
    color: #050505;
    font-weight: 600;
    margin-right: 5px;
}

.comment__card-box a:hover {
    text-decoration: underline;
}

.comment__card-box a:hover {
    text-decoration: underline;
}

.comment__card-content {
    font-size: 1.4rem;
    color: #050505;
    font-weight: 400;
}

.comment__card-box .readMore {
    font-size: 1.4rem;
    color: #050505;
    font-weight: 500;
    cursor: pointer;
}

.comment__card-box .readMore:hover {
    text-decoration: underline;
}

.comment__card-rep {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}

.comment__card-rep small {
    font-size: 1.2rem;
    color: #858585;
    cursor: pointer;
    font-weight: 600;
}

.comment__card-rep small span {
    margin-right: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #f0f2f5;
}

.comment__card-rep small.comment__day {
    font-weight: 400;
}

.comment__action {
    display: flex;
}

.comment__action .comment__menu .comment__menu-button {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-tex-black);
}

.comment__menu .comment__menu-item {
    cursor: pointer;
    padding: 6px 12px;
    top: 100% !important;
    left: 100% !important;
    font-size: 1.2rem;
    color: var(--color-text);
    display: flex;
    align-items: center;
}

.comment__menu {
    opacity: 0;
    transition: all .15s linear;
}

.comments__wapper {
    border-top: 1px solid #f1f1f1;
    padding: 10px 0px;
}

.comment__card:hover .comment__menu {
    opacity: 1;
}

.comment__menu .comment__menu-item i {
    margin-right: 5px;
    font-size: 1.4rem;
    color: var(--color-text-grey);
}

.comment__menu .comment__menu-item:active {
    transition: all .15s linear;
    background-color: #f7f6f6;
    color: #16181b;
}

.comment__edit {
    width: 100%;
}

.form__comment-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.comments__show-box {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 10px;
}

.comments__show-length {
    font-size: 1.2rem;
    font-weight: 600;
}

.comments__show-more {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 4px 0;
    cursor: pointer;
    color: var(--color-text);
}

.reply__username {
    margin: 0 4px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-blue);
}

.comment__card-box .comment__reply-tag {
    color: var(--color-blue);
}

.comments__showmore-reply {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #65676b;
    cursor: pointer;
    user-select: none;
    margin-top: -3px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.comments__showmore-reply i {
    font-size: 1.8rem;
}

.comments__showmore-reply p {
    margin-bottom: 0px;
}

.comments__showmore-reply p:hover {
    text-decoration: underline;
}

.form__comment-input {
    border: 1px solid #f8f8f8;
    width: 100%;
    height: 40px;
    padding: 4px 6px;
    display: flex;
    margin: 0 6px;
    border-radius: 40px;
    background-color: #f3f3f3;
    align-items: center;
}

.form__comment-input .comment__edit input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--color-tex-black);
    padding: 0 !important;
}