.profile {
    display: flex;
}

.profile__container {
    min-height: 100vh;
    border-right: 1px solid #f1f1f1;
}

.infor__container {
    display: flex;
}

.infor__content {
    max-width: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.infor__heading {
    display: flex;
    width: 509.580px;
    height: 54px;
    position: fixed;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    align-items: center;
    padding: 0px 10px;
    background: #fff;
}

.infor__heading-back {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infor__heading-back i {
    font-size: 2.2rem;
    color: var(--color-blue);
}

.infor__heading-back:hover {
    background-color: var(--color-light-blue-hover);
}

.infor__heading-name {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.infor__search {
    width: 350px;
    padding: 2px 0px 2px 20px;
}

.infor__search-container {
    position: fixed;
    width: 350px;
    margin-top: 4px;
    z-index: 3;
}

.infor__box {
    margin-top: 54px;
}

.infor__user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
}

.infor__user .infor__user-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infor__user .infor__user-left .infor__user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -100px;
}

.infor__user .infor__user-left .infor__user-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: all .15s linear;
    border: 5px solid #fff;
}

.infor__user .infor__user-left .infor__user-avatar img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.infor__user .infor__user-left h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

.infor__user .infor__user-left span.infor__user-left-username {
    font-size: 1.5rem;
    display: block;
    color: #536471;
    margin: 0;
}

.infor__user-left-bio {
    font-size: 1.5rem;
    margin: 10px 0;
    max-width: 400px;
    color: #0f1419;
}

.infor__user .infor__user-left p i {
    font-size: 1.7rem;
    margin-right: 2px;
}

.infor__user .infor__user-left .infor__user-social {
    font-size: 1.5rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #536471;
    flex-wrap: wrap;
}

.infor__user .infor__user-left .infor__user-social i {
    color: #536471;
}

.infor__user .infor__user-left .infor__user-social div {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #536471;
}

.infor__user .infor__user-left .infor__user-social div i {
    margin-right: 2px;
    font-size: 2rem;
}

.infor__user-btn-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blue);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--color-blue);
    transition: all .15s ease-in-out;
    width: 170px;
    max-width: 170px;
    user-select: none;
}

.infor__user-btn-edit:hover {
    background-color: var(--color-light-blue-hover);
}

.infor__user-btn-edit.btn__followed span:last-child {
    display: none;
}

.infor__user-btn-edit.btn__followed:hover span:last-child {
    display: block;
}

.infor__user-btn-edit.btn__followed:hover span:first-child {
    display: none;
}

.infor__user-btn-edit.btn__followed {
    background-color: var(--color-blue);
    color: #fff;
}

.infor__user-btn-edit.btn__follow {
    width: 130px;
}

.infor__user-social-link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: all .1s linear;
}

.infor__user-social-link i {
    font-size: 2rem;
    margin-right: 5px;
    color: #536471;
}

.infor__user-social-link a {
    color: var(--color-blue);
}

.infor__user-social-link a:hover {
    cursor: pointer;
    color: var(--color-blue);
    text-decoration: underline;
}

.infor__user-background {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.infor__user-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infor__user-follow {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.infor__user-follow p {
    margin: 0;
    font-size: 1.5rem;
    margin-right: 10px;
    color: #536471;
}

.infor__user-follow p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.infor__user-follow p span {
    font-weight: 700;
    /* margin-right: 4px */
    color: #0f1419;
}

/* Tab */

.profile__tab {
    margin: 0 auto;
    width: 95%;
    height: 40px;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile__tab-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    cursor: pointer;
    color: var(--color-text-grey);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    border-top: 2px solid transparent;
    margin-right: 20px;
}

.profile__tab-item i {
    font-size: 1.4rem;
    margin-right: 4px;
}

.profile__tab-item.active {
    color: var(--color-text-black);
    border-top: 2px solid black;
}