.main .main__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.main__content {
    width: 100%;
}

.main__content.have__login {
    width: 70%;
}

.loading__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container-right {
    width: 925px;
}

.main__content {
    position: relative;
    min-height: 100vh;
    border-right: 1px solid #f1f1f1;
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    position: fixed;
    width: 509px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    background-color: #fff;
    z-index: 19;
}

.main__header-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #0f1419;
}

.row {
    width: 100%;
}

.middle__content {
    min-height: 100vh;
    border-right: 1px solid #f1f1f1;
}

.main__header-right {
    display: flex;
    align-items: center;
}

.loading__container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}