.profile__posts {
    display: flex;
    width: 100%;
}

.profile__posts .row {
    /* margin-right: -6px;
    margin-left: -6px; */
}

.profile__posts .row .col {
    padding-right: 6px;
    padding-left: 6px;
}

.post__thumb {
    height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.post__thumb:hover img {
    filter: brightness(90%);
}

.post__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__thumb video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__thumb-icon-carousel {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    font-size: 2rem;
}

.post__thumb:hover .post__thumb-infor {
    display: block;
}

.post__thumb-infor {
    position: absolute;
    top: 5px;
    left: 10px;
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

.post__thumb-infor div {
    display: flex;
    align-items: center;
}

.post__thumb-infor div span {
    margin-right: 4px;
}