.search__box {
    max-width: 100%;
    width: 100%;
    position: relative;
}

.search__form {
    position: relative;
    width: 100%;
    height: 44px;
}

.search__form form {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #eff3f4;
    border-radius: 40px;
    padding: 0 20px;
}

.search__form-icon {
    font-size: 2.4rem;
    color: #536471;
}

.search__form form input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 80%;
    height: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 40px;
    font-size: 1.5rem;
    color: #0f1419;
}

.search__form-clear {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.search__form-clear i {
    color: #fff;
    font-size: 2.2rem;
}

.search__form-clear.active {
    display: flex;
}

.search__users {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .1);
    margin-top: 2px;
    z-index: 10;
}

.search__users-list img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.search__users-list {
    /* display: flex; */
    margin: 0;
    padding: 0;
}

.search__users-list li a {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 16px 12px;
    cursor: pointer;
}

.search__users-list li a:hover {
    color: black;
}

.search__users-list li:hover {
    background-color: #fcfcfc;
    transition: all .2s ease-in-out;
}

.search__users-list li .search__users-infor {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.search__users-list li:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
}

.discover__search-header {
    position: fixed;
    width: calc(100% - 78px);
    display: none;
    z-index: 10;
}